/* untuk semuanya/ umum */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(download\ \(3\).jpeg);
  color: white;
}

/* halaman utama */
.halaman {
  background-color: #001f3f; 
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.halaman .logo img {
  height: 50px; 
}

.halaman ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.halaman ul li {
  margin: 0 15px;
}

.halaman ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

.halaman ul li a:hover {
  background-color: navy; 
}

/* Content */
.iklan {
  padding: 5px;
  text-align: center;
}

/* Promo iklan*/
.promo-iklan {
  background-color: #00264d;
  padding: 5px;
  border-radius: 8px;
}

/* Shop Products */
.products {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.product-item {
  background-color: #001a33; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.product-item img {
  width: 200px;
  max-width: 200px;
  height: 200px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.product-item:hover {
  background-color: #003366; 
  cursor: pointer;
}

/* Images */
.promo-img, .about-img, .contact-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Promo iklan */
.promo-iklan {
  background-color: #00264d; 
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Images */
.promo-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Footer */
footer {
  text-align: center;
  padding: -10px;
  background-color: #001f3f; /* Biru Navy */
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.btn {
  background-color: #007BFF;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

